<tabla class="table">
    <thead>
        <tr>
            <th>imagen</th>
            <th>Repuesto</th>
            <th>marca</th>
            <th>precio</th>
            <th>stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="spare.image" [alt]="spare.spare"></td>
            <td>{{spare.spare}}</td>
            <td>{{spare.brand}}</td>
            <td>{{spare.price}}</td>
            <td>{{spare.stock}}</td>
        </tr>
        <tr>
            <td>parrilla delantera izquierda</td>
            <td>Corven</td>
            <td>3000</td>
            <td>200</td>
        </tr>
        <tr>
            <td>parrilla delantera derecha</td>
            <td>Corven</td>
            <td>3000</td>
            <td>400</td>
        </tr>
    </tbody>
</tabla>