<div class="row">
    <div class="col-3">

        <div class="card" style="width: 18rem;">
            <img src="assets/img/guillermo.jpg" class="card-img-top" alt="guillermo">
            <div class="card-body">
                <h5 class="card-title">Guillermo eduardo</h5>
                <p class="card-text">Sueño</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Mas de 20 años de experiencia</li>
                <li class="list-group-item">Hombre honesto y directo</li>
                <li class="list-group-item">Siempre con barbijo</li>
            </ul>
            <div class="card-body">
                <a href="#" class="card-link">Faceboook</a>
            </div>
        </div>

    </div>
    <div class="col-9">
        <div class="jumbotron">
            <h1 class="display-4">Taller mugica</h1>
            <p class="lead">Soy guillermo Eduardo Rust, este taller le pertenecia a mi suego, este me acompaño en toda la trayectoria enseñandome cada una de las cosas que hoy en dia se, Omar Mugica, mi suegro, fue una excelente persona y cuando murio erede el taller,
                y en honor a el decidimos dejarle el nombre
            </p>
            <hr class="my-4">
            <p>Alineacion Balanceo y Tren delantero</p>
        </div>
    </div>
</div>